name: Build and publish
on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

env:
  GO_VERSION: "1.22"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Pull common linter configs
        run: wget -O .golangci.yml https://raw.githubusercontent.com/JenswBE/setup/main/programming_configs/golang/.golangci.yml

      - name: Lint service
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --disable err113,wrapcheck

      - name: Generate website
        run: go run . --prod --debug

      - name: Publish to GitHub Pages
        if: github.event_name != 'pull_request'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
